@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2b7kau');
  src:  url('fonts/icomoon.eot?2b7kau#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2b7kau') format('truetype'),
    url('fonts/icomoon.woff?2b7kau') format('woff'),
    url('fonts/icomoon.svg?2b7kau#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dermatology:before {
  content: "\e900";
}
.icon-family-med:before {
  content: "\e901";
}
.icon-heart-institute:before {
  content: "\e902";
}
.icon-informatics:before {
  content: "\e903";
}
.icon-internal-med:before {
  content: "\e904";
}
.icon-molecular-med:before {
  content: "\e905";
}
.icon-mpp:before {
  content: "\e906";
}
.icon-neurology:before {
  content: "\e907";
}
.icon-neurosurgery:before {
  content: "\e908";
}
.icon-obgyn:before {
  content: "\e909";
}
.icon-onc-sciences:before {
  content: "\e90a";
}
.icon-ophthalmology:before {
  content: "\e90b";
}
.icon-ortho:before {
  content: "\e90c";
}
.icon-otolaryngology:before {
  content: "\e90d";
}
.icon-pathology:before {
  content: "\e90e";
}
.icon-pediatrics:before {
  content: "\e90f";
}
.icon-plastic-surgery:before {
  content: "\e910";
}
.icon-psychiatry:before {
  content: "\e911";
}
.icon-radiology:before {
  content: "\e912";
}
.icon-surgery:before {
  content: "\e913";
}
.icon-urology:before {
  content: "\e914";
}
